.git
.github
**/.venv
**/node_modules
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
backend/tests
backend/*.db*
backend/uploads
frontend/dist
*.md
!frontend/README.md
.env
.env.*
